@font-face {
  font-family: 'FiraCode';
  font-style:  normal;
  font-display: auto;
  font-weight: 200;
  src: url("../fonts/FiraCode-Light.woff2") format("woff2"),
       url("../fonts/FiraCode-Light.woff") format("woff");
}
@font-face {
  font-family: 'FiraCode';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/FiraCode-Regular.woff2") format("woff2"),
       url("../fonts/FiraCode-Regular.woff") format("woff");
}
@font-face {
  font-family: 'FiraCode';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/FiraCode-Medium.woff2") format("woff2"),
       url("../fonts/FiraCode-Medium.woff") format("woff");
}
@font-face {
  font-family: 'FiraCode';
  font-style:  normal;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/FiraCode-SemiBold.woff2") format("woff2"),
       url("../fonts/FiraCode-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'FiraCode';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/FiraCode-Bold.woff2") format("woff2"),
       url("../fonts/FiraCode-Bold.woff") format("woff");
}
