@charset "UTF-8";

/* Light theme color */
$light-background: #f9f5d7;
$light-background-secondary: #f5edca;
$light-background-header: #f9f5d7;
$light-color: #654735;
$light-color-variant: #4f3829;
$light-color-secondary: #4f3829;
$light-border-color: #7c6f64;
$light-table-color: #7c6f64;

/* Dark theme colors */
$dark-background: #141617;
$dark-background-secondary: #1d2021;
$dark-background-header: #141617;
$dark-color: #a89984;
$dark-color-variant: #ddc7a1;
$dark-color-secondary: #d4be98;
$dark-border-color: #32302f;
$dark-table-color: #32302f;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
